<!DOCTYPE html>

<html>

<head>
    <title>Error 404</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
            {{>header}}
            {{message}}
    </div>

    {{>footer}}
</body>

</html>